* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Work Sans', sans-serif;
}

.main-section {
  width: 1600px;
  height: 4000px;
  background: #fff;
}

/* banner section style =======>>>>> */

.banner {
  background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('image/Banner\ Image.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 40px 140px;
}

.banner-info {
  text-align: center;
  padding-top: 180px;
}

.banner-subtitle {
  color: #fff;
  /* text-align: center; */
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
}

.banner-main-title {
  color: #fff;
  width: 632px;
  /* text-align: center; */
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  padding-left: 350px;
}

/* party celebrate section style ======>>>>>> */

.party {
  background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url('image/Vectorrr.png');
  background-repeat: no-repeat;
  width: 1320px;
  height: 600px;
  border-radius: 16px;
  margin: 40px 140px;
  margin-bottom: 80px;
}

.party-title {
  color: #fff;
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  width: 645px;
}

.party-description {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 700px;
  padding-bottom: 50px;
}

.join-btn {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: black;
  border: 0;
}

.party-img {
  width: 319.83px;
  height: 464.662px;
  padding: 0.008px 0px 0px 0px;
  align-items: center;
  margin-top: 70px;
  margin-right: 140px;
}

.party-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.party-info {
  padding-top: 126px;
  padding-left: 126px;
}

/* address section style ================> */

.address {
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  width: 1320px;
  height: 482px;
  margin-left: 140px;
  border-radius: 16px;
  text-align: center;
}

.address-info p {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.address-info {
  padding-top: 100px;
  padding-left: 350px;
  padding-right: 390px;
  width: 650px;
}

.party-title {
  font-stretch: ultra-condensed;
}

.span-place {
  color: #f00;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

.address-join-btn {
  display: inline-flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background: #f00;
  border: 0px;
  color: #fff;
}
.btn-red {
  padding-left: 70px;
  padding-top: 50px;
}

/* best offer section style ===================> */

.best-offer-container {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: auto auto auto; */
  /* column-gap: 70px; */
  /* width: 400px; */
  margin-left: 140px;
}

.best-offer-subtitle {
  color: #f00;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 20px;
}

.best-offer-maintitle {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.best-offer-des {
  color: rgba(7, 2, 17, 0.6);
  width: 380px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

/* .offer-img img {
  border: 15px solid #f00;
  width: 350px;
  height: 350px;
  border-radius: 350px;
  margin-left: 120px;
} */
.offer-img {
  max-width: 400px;
  max-height: 400px;
  padding-left: -200px;
}

/* .best-offer-session .offer-img {
  gap: 50px;
} */

.session-title {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 20px;
}

.session-des {
  color: rgba(7, 2, 17, 0.6);
  width: 276px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 35px;
}

.new-year-img {
  width: 140px;
  height: 140px;
}

/* offer section style =======================>>>>>>> */

.offer-main-title {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-bottom: 30px;
}

.offer-description {
  color: #f00;

  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.offer-sub-title {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 45px;
}

.offer-img {
  width: 802.9px;
  height: 500px;
  padding-left: 400px;
  padding-bottom: 90px;
}

/* holiday sales section =================> */

.holiday-sub-title {
  color: #070211;
  font-family: Inter;
  font-size: 22px;
  font-weight: 500;
}

.holiday-main-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.holiday-main-title span {
  color: #f00;
  /* text-align: center; */
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  max-width: 800px;
}

.holiday-paragraph {
  color: rgba(7, 2, 17, 0.6);
  width: 900px;
  /* text-align: center; */
  font-family: Inter;
  font-size: 20px;
  font-weight: 00;
  line-height: 32px;
  margin-bottom: 45px;
}

.holiday-info {
  text-align: center;
  margin-left: 250px;
}
.holiday {
  background-image: url('image/Rectangle\ 2.png');
  background-repeat: no-repeat;
  background-position: bottom center, right center;
  /* gap: 200px; */
  width: 1350px;
  height: 1000px;
  margin: 70px 130px;
  margin-bottom: 100px;
}

/* .holiday url {
  width: 429px;
  height: 433px;
} */

.holiday-img-container {
  background-image: url('image/Group\ 44.png');
  background-repeat: no-repeat;
  background-position: right;
}
.holiday-img-container {
  display: flex;
  justify-content: space-around;
  gap: 250px;
  width: 700px;
  margin-left: 255px;
  margin-top: 145px;
  /* margin-bottom: 230px; */
  /* margin-right: auto; */
}

.box-img img {
  /* padding-top: 80px; */
  padding-bottom: 700px;
  padding-left: 300px;
  height: 600px;
  width: 700px;
}

.holiday-img-rec1 img {
  padding-right: 150px;
  width: 360px;
  height: 350px;
}

.holiday-img-rec1 {
  /* background-image: url('image/Group\ 44.png');
  background-repeat: no-repeat;
  background-position: top; */
}

/* .holiday-img-discount {
  padding-top: 70px;
  padding-right: 400px;
} */
/* .Rectangle-img {
  padding-bottom: 600px;
} */

/* portfolio section style =================== */

.portfolio {
  background: #fff;
  width: 1200px;
  height: 1100px;
  margin-left: 140px;
}

.portfolio-sub-title {
  color: #f00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 16px;
}

.portfolio-main-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-bottom: 20px;
}

.portfolio-descrioption {
  color: rgba(7, 2, 17, 0.6);
  width: 896px;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-bottom: 35px;
}

.img-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
}

.image {
  border-radius: 16px;
  background: lightgray 0px -35.755px;
  width: 424px;
  height: 450px;
  flex-shrink: 0;
  transition: width 1s, height 1s, transform 1s;
}

.image:hover {
  /* transform: scale(1.2); */
  transform: rotate(360deg);
}

/* subcribe newslatter style =================> */

.subscribe {
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
  width: 1320px;
  height: 600px;
  margin: 120px 140px;
}

.subscribe-img {
  width: 150px;
  height: 150px;
  align-items: center;
  padding-left: 580px;
  padding-top: 80px;
}

.subscribe-title {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  text-transform: capitalize;
  padding-top: 35px;
}

.subscribe-paragrap {
  color: rgba(7, 2, 17, 0.6);
  width: 896px;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-left: 210px;
  padding-top: 18px;
  padding-bottom: 30px;
}

.subscribe-email {
  border-radius: 50px 0px 0px 50px;
  background: #fff;
  width: 450px;
  height: 72px;
  border: 0px;
  margin-left: 300px;
}

.sub-btn {
  width: 190px;
  height: 72px;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: 0px;
  /* margin-left: 740px; */
  color: #fff;
  /* padding-bottom: 160px; */
}

.sub-button {
  /* padding-right: 330px; */
  margin-right: 400px;
}

.btn-container {
  display: flex;
  justify-self: self-end;
  gap: 0px;
  padding-left: 30px;
}

/* footer section style =============================>>>>>>>> */
.footer {
  background: #070211;
  width: 1600px;
  height: 650px;
}

.contact-container {
  display: flex;
  width: 250px;
  justify-content: space-between;
  gap: 380px;
  padding-left: 150px;
  padding-top: 90px;
}

.contact-address {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}

.contact-info {
  padding-bottom: 70px;
  width: 500px;
}

.contact-cell {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
  width: 250px;
}

.contact-web {
  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 40px;
}
.h-line {
  /* color: rgba(255, 255, 255, 0.15); */
  width: 1280px;
  /* height: 0.5px; */
  align-items: center;
  padding-left: 150px;
  /* opacity: ; */
}

.h-line hr {
  background: rgba(255, 255, 255, 0.15);
  opacity: 3%;
  height: 0.1px;
}

.cell-img img {
  width: 18px;
  height: 10px;
}

.social-link {
  display: inline;
  height: 160px;

  padding-left: 600px;
}

.social-link img {
  align-items: center;
  padding: 0px 12px;
}

.social {
  height: 140px;
  padding-top: 60px;
}

.contact-unsubscribe {
  color: #fff;

  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-left: 220px;
}
